.search-select {
	width: 10rem;
}

.search-bar {
	   width: 20rem !important;
}

.login-button {
	position: absolute;
    right: 0;
}
.productManagementPageOwnerInfo {
	position: absolute;
    right: 4rem;
}
.logout-button {
	position: absolute;
    right: 0;	
}

.register-button {
	position: absolute;
    right: 3rem;
}

.main-page-content {
	padding: 2rem 15rem;
}

.card {
	padding: 1rem 1.3rem !important;
	margin-bottom: 1rem;
}

.product-detail-row {
	position: relative;
}

.card-content {
	padding-left: 1rem;
}

.product-detail-row-title {
	float: left;
}
.product-detail-row-value {
	float: right;
	font-weight: bold;
	padding: 0 0.2rem;
}

.card-title {
	display: inline-block;
}
.card-title > div {
	display: inline-block;	
}
.card-title > div > div {
	display: inline-block;		
	font-weight: bold;
}

.product-save-delete {
	position: absolute;
    right: 0;
    bottom: 0;
    margin: 0 1rem 1rem 0;
}
